<div class="row justify-content-center" style="margin-top: 15vh">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h4 class="text-center">Editing Pin</h4>
			</div>
		  <div class="card-body pl-5 pr-5">
		  	<div class="text-center">
		  		<small class="text-muted">Previous Image</small><br>
		  		<% if @pin.image.attached? %>
		  			<%=image_tag @pin.image,:size=>"65x65",:class=>"rounded mb-3" %>
		  		<% else %>
		  			<%=image_tag('black.png',:size=>"65x65",:class=>"rounded mb-3") %>
		  		<% end %>
		  	</div>
		    <%= render 'form' %>
		  </div>
		</div>
	</div>
</div>



