<div id="pins" class="transitions-enabled">
  <div class="row justify-content-center">
    <% @pins.each do |pin| %>
    <div class="box">
        <div class="card" style="width: 100%">
          <div class="view overlay">
            <% if pin.image.attached? %>
              <%= image_tag(pin.image,:size=>"220x320",:class=>"card-img-top")%>
            <% else %>
              <%= image_tag('black.png',:size=>"220x320",:class=>"card-img-top")%>
            <% end %>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <p class="card-title text-center"><%= link_to pin.title, pin,:class=>"text-muted" %></p>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>