<div class="navbar fixed-bottom" style="background-color: #ECEFF1">
	<p class="pt-3 ml-auto mr-auto" style="color: #263238;font-weight: 400">Designed And Implemented By Shimol Khan With <i class="fas fa-heart" style="color: #f44336"></i>
	<br>
	</p>
</div>